.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:580px;
    background-color: aliceblue;
}

table{
    border-collapse: collapse;
    background-color: aliceblue;
}

.tableContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 580px;
}

